@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  border: 2px solid lightcoral;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.wrapper{
  border: 2px solid darkblue;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: auto;
}
 img{
  width: 40rem;
  height: auto;
}
.error-heading{
  font-family: 'Inconsolata', monospace;
  justify-self: flex-start;
  align-self: flex-start;
  letter-spacing: -0.1em;
  font-size: 1.45rem;
  margin: 40px 0 0 70px;
}